<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="{{ path('app_home_index')}}">Home
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        {# si l'utilisateur est connecté #}
         {% if app.user %}
        <li class="nav-item">
          <a class="nav-link" href="{{path('app_ingredient_index')}}">Ingredient
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{path('app_recipe_index')}}">Recette
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        {% endif %}
      </ul>
      <ul class="navbar-nav" style="margin-right: 5rem;">
      {% if app.user %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{app.user.fullName}}</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{{path('app_user_edit', {id: app.user.id})}}">Modifier mes informations</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{path('app_user_edit_password', {id: app.user.id})}}">Modifier mon mot de passe</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{path('app_logout')}}">Deconnexion</a>
          </div>
      {% else %}
      <li class="nav-item">
          <a class="nav-link" href="{{path('app_login')}}">Connexion
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{path('app_registration')}}">Inscription
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
      {% endif %}
      </ul>
    </div>
  </div>
</nav>