{% extends 'base.html.twig' %}

{% block title %}MyRecipe - Accueil{% endblock %}

{% block body %}
<div class="container">

<div class="jumbotron">
  <h1 class="display-4 mt-4">Bienvenue sur la page de mes Recettes</h1>
  <p class="lead">Vous troverez sur cette page ....</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo alias ea minus aut, voluptatibus deleniti soluta recusandae, delectus dolores officiis iure, quo sapiente excepturi eos similique neque. Tempore, nobis tempora.</p>
  <hr class="my-4">
  <p>Pour commencer merci d'aller sur la page d'inscription...</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="{{path('app_registration')}}" role="button">Inscription</a>
  </p>

  <hr>
  <h3 class="mt-4">Recette de la communauté</h3>
  <div class="d-flex justify-content-between flex-wrap mr-3">
    {% for recipe in recipes %}
      <div class="card text-white bg-secondary mb-3" style="max-width: 20rem;">
      <div class="card-header">
      <a href="{{path ('app_recipe_show', {id: recipe.id } )}}">
      Recette n° {{recipe.id}}
      </a>  
      </div>
      <div class="card-body">
        <h4 class="card-title">{{recipe.name}}</h4>
        <p class="card-text">{{recipe.description}}</p>
      </div>
    </div>
    {% endfor %}
{% endblock %}
