{% extends 'base.html.twig' %}

{% block title %}MyRecipe - Detail d'une recette {% endblock %}

{% block body %}
<div class="container mt-4">

{% for message in app.flashes('success') %}
      <div class="alert alert-success">
          {{ message }}
      </div>
{% endfor %}
{% for message in app.flashes('warning') %}
      <div class="alert alert-warning">
          {{ message }}
      </div>
{% endfor %}

<h1> Recette N° {{recipe.id}}</h1>
<h4>{{recipe.name}}</h4>
<div>
  <img src="{{vich_uploader_asset(recipe, 'imageFile')}}">
</div>
<span class="badge bg-primary">{{recipe.createdAt | date("d/m/Y")}}</span>
<p>La moyenne de cette recette est de 
    {% if recipe.average %}
      {{recipe.average}} 
    {% else %}
        0 
    {% endif %}
    / 5
</p>
<div class="mt-4">
  <p>Temp de cuisson: 
    {% if(recipe.time)%}
      {{recipe.time}}
    {% else %}  
      Non renseigné
    {% endif %}  
  </p>
</div>
<div class="mt-4">
  <p>Difficulté: 
    {% if(recipe.difficulty)%}
      {{recipe.difficulty}}
    {% else %}  
      Non renseigné
    {% endif %}  
  </p>
</div>
<div class="mt-4">
  <p>Nombre de personne: 
    {% if(recipe.nbPeople)%}
      {{recipe.nbPeople}}
    {% else %}  
      Non renseigné
    {% endif %}  
  </p>
</div>
<div class="mt-4">
  <p>Description: {{recipe.description}}
  </p>
</div>

 <div class="mt-4">
  <p>Ingredients: 
    {% for ingredient in recipe.getIngredient() %}
          <span class="badge bg-primary">{{ingredient.name}}</span>
    {% endfor %}
  </p>
</div>

<br>
<hr>
<div class="row">
  <div class="col-md-2">
    {{form(form)}}
  </div>
</div>

{% endblock %}
